
.cardbox{
width: 25rem;
height: 40rem;
background-color: pink;
border: solid black 1rem;
}
.name{
width:80%;
height:2rem;
background-color: blue;
}

.cardImage{
    height: 20rem;
    width: 20rem;
}


.desc{
width:75%;
height:25%;
background-color: bisque;
}
 